.service_info_content::-webkit-scrollbar {
    width: 0.5rem;
}

.service_info_content::-webkit-scrollbar-track {
    background: #B4EBCA;
}

.service_info_content::-webkit-scrollbar-thumb {
    background: #FEFCAD;
}