.portfolio_item_container {
    width: 100%;
    min-height: 300px;
    margin: 2rem 0;
    flex-flow: column nowrap;
}

section > .portfolio_item_container:last-child {
    margin-bottom: 6rem;
}

section > .portfolio_item_container:nth-child(2) > .company_logo_container {
    margin-bottom: 0.5rem;
}

section > .portfolio_item_container:nth-child(3) > .company_logo_container {
    margin-bottom: 2rem;
}

.company_logo_container {
    width: calc(225px + 1.8vw);
    margin: 0 auto;
    height: calc(150px + 1.8vw);
}

.company_logo_container > svg {
    width: auto;
    height: 100%;
    margin: 0 auto;
}

.portfolio_description {
    width: 100%;
}

@media only screen and (min-width: 500px) {
    .company_logo_container {
        width: calc(300px + 1.8vw);
        margin: 0 auto;
        height: calc(150px + 1.8vw);
    }
}

@media only screen and (min-width: 900px) {
    .portfolio_item_container {
        flex-flow: row nowrap;
        justify-content: space-between;
        min-height: auto;
        margin: 4rem 0;
    }

    section > .portfolio_item_container:first-child {
        margin-top: 2rem;
    }

    section > .portfolio_item_container:nth-child(even) {
        flex-flow: row-reverse nowrap;
    }

    section > .portfolio_item_container:nth-child(2) > .company_logo_container {
        margin-bottom: 0;
    }

    section > .portfolio_item_container:nth-child(3) > .company_logo_container {
        margin-bottom: 0;
    }

    .company_logo_container {
        width: 35%;
        height: auto;
        margin: 0;
        max-width: auto;
    }

    .company_logo_container > svg {
        width: 90%;
        height: auto;
    }

    .portfolio_description {
        width: 58%;
    }
}