.cookies_info_container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    z-index: 1100;
}

.cookies_info_container > div {
    width: 100%;
    height: 400px;
    overflow: auto;
    flex-flow: column nowrap;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #FEFCAD 200px);
    padding: 2rem 1rem 0 1rem;
}

.cookies_info_container > div > div > button {
    position: relative;
    font-weight: 700;
}

.cookies_info_container > div::-webkit-scrollbar {
    width: 0.5rem;
}

.cookies_info_container > div::-webkit-scrollbar-track {
    background: #B4EBCA;
}

.cookies_info_container > div::-webkit-scrollbar-thumb {
    background: #FEFCAD;
}
