.menu_container {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
}

.menu_container::-webkit-scrollbar {
    width: 0.5rem;
}

.menu_container::-webkit-scrollbar-track {
    background: #B4EBCA;
}

.menu_container::-webkit-scrollbar-thumb {
    background: #FEFCAD;
}

@media only screen and (max-height: 460px) {
    .menu_container {
        overflow-y: auto;
    }
}