section > .stageInfo_container:first-child {
    margin: 0 0 1rem 0;
}

.section_container > .stageInfo_container:last-child {
    margin-bottom: 3rem;
}

.stageInfo_container {
    margin: 1rem 0;
    width: 100%;
    height: auto;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.graphic_container {
    position: relative;
    justify-content: center;
    margin: 2rem 0;
    max-height: 250px;
}

.graphic_container > svg {
    width: 100%;
    height: auto;
}

@media only screen and (min-width: 575px) {

    .graphic_container {
        justify-content: center;
        margin-bottom: 2rem;
        max-height: 350px;
    }
}

@media only screen and (min-width: 960px) {
    .section_container > .stageInfo_container:first-child {
        margin: 2rem 0;
    }

    .section_container > .stageInfo_container:last-child {
        margin-bottom: 6rem;
    }

    .section_container > .stageInfo_container:nth-child(even) {
        flex-flow: row nowrap
    }

    .section_container > .stageInfo_container:nth-child(odd) {
        flex-flow: row-reverse nowrap
    }

    .stageInfo_container {
        margin: 2rem 0;
    }

    .graphic_container {
        width: 30%;
        justify-content: flex-start;
        max-height: none;
        margin: 0;
    }

    .graphic_container > svg {
        height: 100%;
    }

    .info_container {
        width: 60%;
    }

}