.textContainer {
    position: relative;
    cursor: default;
    user-select: none;
    --maskX: 100;
    --maskY: 0;
}

.textContentClone {
    position: absolute;
    left: 0;
    right: 0;
    transition: all 1600ms cubic-bezier(.2,0,0,.83);
    clip-path: polygon(0 0, 
    calc(var(--maskX) * 1% + (var(--maskY) - 50) * 0.2%) 0,
    calc(var(--maskX) * 1% + (var(--maskY) - 50) * -0.2%) 100%, 0 100%);
}